@import '../../styles/_variables.scss';

.chat-channel {
  margin-bottom: 1rem;
  &__messages {
    border: solid 1px #d0d0d0;
    background-color: #ffffff;
    height: 420px;
    overflow-y: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &--loading {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &--no-messages {
      align-items: center;
    }
    @media (min-width: 992px) {
      height: 600px;
    }
  }
  &__message {
    margin-bottom: 0.5rem;
    background-color: map-get($custom-colors, 'other-1');
    border-radius: 8px;
    padding: 0.5rem;
    color: #fff;
    text-align: right;
    @media (min-width: 576px) {
      min-width: 390px;
      max-width: 600px;
    }
    &--bot {
      background-color: map-get($custom-colors, 'other-2');
      align-self: flex-start;
      text-align: left;
    }
    p {
      margin: 0;
      padding: 0;
    }
    &-email {
      color: #014663;
      font-weight: bold;
      &--bot {
        color: #2e0655;
      }
    }
    &-text {
      font-style: italic;
      display: block;
    }
    &-date {
      font-size: 0.75rem;
    }
  }
  &__form {
    :global(.form-control) {
      border-radius: 0;
    }
    :global(.btn-primary) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
