.image-uploaded {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.img-container {
  position: relative;
  &__remove {
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
