@import '~bootstrap/scss/functions';
$sizes: ();
@import '~bootstrap/scss/variables';
@import '../../styles/variables';

.product-details {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  &__image {
    width: 100%;
    height: auto;
    box-shadow: 10px 10px 21px -9px rgba(0, 0, 0, 0.63);
  }
  &__carousel {
    box-shadow: 10px 10px 21px -9px rgba(0, 0, 0, 0.63);
    :global(.carousel-indicators) {
      button {
        background-color: map-get($custom-colors, 'primary');
      }
    }
  }
  &__info {
    background-color: #ffffff;
    box-shadow: 10px 10px 21px -9px rgba(0, 0, 0, 0.63);
    padding: 1.3rem;
    position: relative;
    z-index: 1;
  }
  &__stock {
    display: inline-block;
    padding: 0.3rem 0.5rem;
    background-color: $green-400;
    color: #fff;
    &--out-stock {
      background-color: $danger;
    }
    &--last-units {
      background-color: map-get($custom-colors, 'secondary');
    }
  }
  &__price {
    font-weight: 700;
    font-size: 1.5rem;
  }
}
