@import '../../styles/_variables.scss';

.cart-icon {
  position: relative;
  svg {
    transition: fill 0.3s ease-in-out;
  }
  &:hover {
    svg {
      fill: #ffffff;
    }
  }
  .cart-badge {
    font-size: 0.6rem;
    padding: 1px 6px;
    background-color: map-get($custom-colors, 'primary');
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: -2px;
    &--mobile {
      right: -7px;
    }
  }
}

.brand-icon {
  position: absolute;
  left: 50%;
  top: 6px;
}

.icons-container {
  position: absolute;
  top: 6px;
  right: 0;
  :global(.nav-link) {
    color: rgba(255, 255, 255, 0.55);
    &:hover {
      color: rgba(255, 255, 255, 0.75);
    }
  }
  :global(.navbar-nav) {
    flex-direction: row;
    gap: 1rem;
    margin-right: 1rem;
  }
}
