.partial {
  height: calc(100vh - 184px);
  display: flex;
  align-items: center;
  justify-content: center;
  :global(.spinner-grow) {
    width: 4rem;
    height: 4rem;
  }
}

.fullscreen {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f0f9fa;
  :global(.spinner-grow) {
    width: 4rem;
    height: 4rem;
  }
}
