@import "../../../node_modules/bootstrap/scss/functions";
$sizes: (); // <-- Fix here
@import "../../../node_modules/bootstrap/scss/variables";

.notification {
  position: fixed;
  top: 4rem;
  right: 0.5rem;
  border-radius: 5px;
  z-index: 1060;
  &.danger {
    background-color: $red;
  }
  &.warning {
    background-color: $yellow;
  }
  &.success {
    background-color: $green;
  }
}